# Structure of analysis
- Objective
- Modules
- Import 
- Clean 
- Organize 
- Generate 
- Analyze

# Objective

1. Calculate team win percentages: $winper=\frac{W}{W+L}$
2. Calculate team expected win percentages based on the origonal Pythagoream formula: $\widehat{winper}=\frac{RF^2}{RF^2+ RA^2}$
3. Save datafram as csv in working directory

## Modules

In [1]:
import os
import sys
import pandas 
import numpy
import matplotlib.pyplot as plt

## Import

In [2]:
print('observe working directory')
os.getcwd()

observe working directory

'C:\\Users\\kmongeon\\GIT\\4P94_2017\\01-pythagorean'

In [3]:
# print('change working directory')
# os.chdir('/home/vmuser/Documents/4P94/01-pythagorean')

In [4]:
dm = pandas.read_csv('mlb_win.csv')
dm.head()

                    Team League   W   L  Runs For  Runs Against
0  Philadelphia Phillies     NL  63  99       626           809
1        Cincinnati Reds     NL  64  98       641           754
2         Atlanta Braves     NL  67  95       573           760
3       Colorado Rockies     NL  68  94       737           844
4      Milwaukee Brewers     NL  68  94       655           738

In [5]:
dm

                     Team League    W   L  Runs For  Runs Against
0   Philadelphia Phillies     NL   63  99       626           809
1         Cincinnati Reds     NL   64  98       641           754
2          Atlanta Braves     NL   67  95       573           760
3        Colorado Rockies     NL   68  94       737           844
4       Milwaukee Brewers     NL   68  94       655           738
5       Oakland Athletics     AL   68  94       694           729
6           Miami Marlins     NL   71  91       613           678
7        San Diego Padres     NL   74  88       650           731
8          Detroit Tigers     AL   74  87       689           803
9       Chicago White Sox     AL   76  86       622           701
10       Seattle Mariners     AL   76  86       656           726
11         Boston Red Sox     AL   78  84       748           753
12   Arizona Diamondbacks     NL   79  83       720           713
13         Tampa Bay Rays     AL   80  82       644           642
14      Baltimore Orioles     AL   81  81       713           693
15      Cleveland Indians     AL   81  80       669           640
16        Minnesota Twins     AL   83  79       696           700
17   Washington Nationals     NL   83  79       703           635
18   San Francisco Giants     NL   84  78       696           627
19     Los Angeles Angels     AL   85  77       661           675
20         Houston Astros     AL   86  76       729           618
21       New York Yankees     AL   87  75       764           698
22          Texas Rangers     AL   88  74       751           733
23          New York Mets     NL   90  72       683           613
24    Los Angeles Dodgers     NL   92  70       667           595
25      Toronto Blue Jays     AL   93  69       891           670
26     Kansas City Royals     AL   95  67       724           641
27           Chicago Cubs     NL   97  65       689           608
28     Pittsburgh Pirates     NL   98  64       697           596
29    St. Louis Cardinals     NL  100  62       647           525

## Clean

In [6]:
dm.columns

Index(['Team', 'League', 'W', 'L', 'Runs For', 'Runs Against'], dtype='object')

In [7]:
dm.dtypes

Team            object
League          object
W                int64
L                int64
Runs For         int64
Runs Against     int64
dtype: object

## Organize

In [8]:
dm = dm.sort_values(by=['League', 'Team'])
dm.head()

                 Team League   W   L  Runs For  Runs Against
14  Baltimore Orioles     AL  81  81       713           693
11     Boston Red Sox     AL  78  84       748           753
9   Chicago White Sox     AL  76  86       622           701
15  Cleveland Indians     AL  81  80       669           640
8      Detroit Tigers     AL  74  87       689           803

## Generate

In [9]:
dm['RF2'] = dm['Runs For']**2
dm['RA2'] = dm['Runs Against']**2
dm.head()

                 Team League   W   L  Runs For  Runs Against     RF2     RA2
14  Baltimore Orioles     AL  81  81       713           693  508369  480249
11     Boston Red Sox     AL  78  84       748           753  559504  567009
9   Chicago White Sox     AL  76  86       622           701  386884  491401
15  Cleveland Indians     AL  81  80       669           640  447561  409600
8      Detroit Tigers     AL  74  87       689           803  474721  644809

##  Analyze

In [10]:
dm['WP']  = dm['W'] / (dm['W']  + dm['L'] )
dm['EWP'] = dm['RF2'] / (dm['RF2']+ dm['RA2'] )
dm['Diff'] = dm['WP']  - dm['EWP']
dm.head()

,Team,League,W,L,Runs For,Runs Against,RF2,RA2,WP,EWP,Diff
14,Baltimore Orioles,AL,81,81,713,693,508369,480249,0.500000,0.514222,-0.014222
11,Boston Red Sox,AL,78,84,748,753,559504,567009,0.481481,0.496669,-0.015187
9,Chicago White Sox,AL,76,86,622,701,386884,491401,0.469136,0.440499,0.028636
15,Cleveland Indians,AL,81,80,669,640,447561,409600,0.503106,0.522143,-0.019038
8,Detroit Tigers,AL,74,87,689,803,474721,644809,0.459627,0.424036,0.035591

In [11]:
dm[['Team', 'WP', 'EWP']].head()

                 Team        WP       EWP
14  Baltimore Orioles  0.500000  0.514222
11     Boston Red Sox  0.481481  0.496669
9   Chicago White Sox  0.469136  0.440499
15  Cleveland Indians  0.503106  0.522143
8      Detroit Tigers  0.459627  0.424036

## Save to csv file

In [12]:
dm.to_csv('mlb_expected.csv')

## Done